<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NEW TITLE!</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="nav-bar">
        <ul>
            <li class="li nav-item" >
                <a href="/">Home</a>
            </li>

            <li class="li nav-item" >
                <a href="/dashboard">Dashboard</a>
            </li>

            <li class="li nav-item" >
                <a href="/login">Login</a>
            </li>

            <li class="li nav-item" >
                <a class="logout" href="#">Logout</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>
            <a href="/">Tech Blog</a>
        </h1>
    

    </header>

    <main>
        {{{body}}}
        
    </main>





</body>
<script src="/main/public/js/logout.js"></script>
</html>